@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&&display=swap');

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

input {
  outline: none;
  border: none;
}

input::placeholder {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.container {
  padding: 0px 161px;
}

.ctaBtn {
  padding: 14px 30px;
  background: #FAA500;
  border-radius: 8px;
  color: #fff;
}

.thumbs-wrapper, .carousel-status {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  color: #000 !important;
  font-weight: bolder !important;
}

.swiper-button-next {
  width: fit-content !important;
  right: 0 !important;
}

.swiper-button-prev {
  width: fit-content !important;
  left: 0 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 32px !important;
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 49px;
  text-align: center;
  color: #353535;
}

@media (max-width: 1024px) {
    .container {
      padding: 0 31px;
    }

    .tipbar-content .swiper-button-next,
    .tipbar-content .swiper-button-prev,
    .tipbar-brands .swiper-button-next,
    .tipbar-brands .swiper-button-prev {
      display: none !important;
    }

    .promotion-top {
      display: none !important;
    }
}
